.top-container {
  height: 400px;
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: 1px solid #E6E6E6;
}

.carousel {
  position: absolute;
  top: 34%;
  left: 27%;
}

#photos {
  justify-content: center;
}

.bottom-container {
  width: 80%;
  margin: 5% auto;
}

#reviews-ratings {
  float: left;
}

#sidebar {
  float: right;
}