commands:
  01_photos_npm_install:
    command: npm install && npm run
    cwd: photos
  02_reviews_npm_install:
    command: npm install && npm run
    cwd: reviews
  03_sidebar_npm_install:
    command: npm install && npm run
    cwd: sidebar
  04_sidebar_npm_install:
    command: npm install && npm run
    cwd: proxy