.photo {
  height: 250px;
  width: 250px;
  float: left;
  transition: transform .2s;
  object-fit: cover;
}

.center-photo {
  transform: scale(1.2);
  box-shadow: -1px -1px 20px 1px #696969;
}

.photo-container {
  float: left;
  transition: transform .2s;
  position: absolute;
}

.center-photo-container {
  left: 250px;
}

.right-photo-container {
  left: 500px;
}

.left-photo-container:hover {
  transform: scale(1.2);
  box-shadow: -1px -1px 20px 1px #696969;
  z-index: 1;
}

.right-photo-container:hover {
  transform: scale(1.2);
  box-shadow: -1px -1px 20px 1px #696969;
  z-index: 1;
}

.left-photo-container:hover ~ .center-photo-container {
  transform: scale(.834);
  /* z-index: -1; */
}

.left-photo-container:hover ~ .center-caption {
  opacity: 0;
}

.left-photo-container:hover .left-caption {
  opacity: 1;

}

.right-photo-container:hover ~ .center-photo-container {
  transform: scale(.834);
  /* z-index: -1; */
}

.right-photo-container:hover ~ .center-caption {
  opacity: 0;
}

.right-photo-container:hover > .right-caption {
  opacity: 1;
}

.left-caption, .right-caption {
  position: absolute;
  padding: 0 7.5px;
  left: 0px;
  top: 198px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.5);
  transition: .2s;
  opacity: 0;
}

.center-caption {
  position: absolute;
  padding: 0 7.5px;
  left: 250px;
  top: 218px;
  width: 235px;
  transform: scale(1.2);
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.5);
  transition: .2s;
  opacity: 1;
}
