.summary {
  background: #fff;
  padding-left: 6px;
  padding-right: 12px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  vertical-align: baseline;
  list-style: none;
}

.summaryitem {
  padding-top: 12px;
  width: 100%;
  display: table;
}

.summarydiv {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 12px;
  padding-right: 9px;
  align-content: center;
}

.summarydivlast {
  padding-bottom: 12px;
  padding-right: 9px;
}

.summaryicon {
  justify-self: center;
  align-self: stretch;
  font-size: 16px;
}

.summaryiconsmall {
  justify-self: center;
  align-self: stretch;
  font-size: 14px;
  font-weight: 100;
}

.summarycheckopen {
  font-size: 12px;
  font-weight: bold;
  padding-right: 6px;
  vertical-align: baseline;
}

.greentext {
  color: #41a700;
}

.redtext {
  color: #d32323;
}

.bluetext {
  color: #0073BB;
}

.bolded {
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: 12% 85%;
}